ion-toolbar{
    --background: #3880ff;
    --color: #fff;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;;
}

ion-item {
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;;
}

ion-input {
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;;
}

ion-card-title {
    font-size: 18pt;
    text-align: center;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;;
    --background: #3880ff;
}

ion-card-subtitle {
    font-size: 15pt;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;;
}