ion-item{
    --color: #3880ff;
    // --background: #eef;
}

ion-button{
    --background: #3880ff;
}
a{
    color: #fff;
}
ion-content{
    font-family: cursive;
    // --background: #eef;
    --color: #3880ff;
}

// ion-item{
//     // --background: #3880ff;
//     --color: #3880ff;
//     margin-bottom: 5%;
// }

// ion-button{
//     --background: #3880ff;
//     // --background: #062f77;
// }

// ion-footer{
//     --background: #062f77;
//     --color: #fff;
// }

// ion-content{
//     font-family: cursive;
//     --color: #3880ff;
//     --background: #eef;
// }
// ion-title{
//     font-family: cursive;
//     align-content: center;
// }
// ion-toolbar{
//     --background: #062f77;
//     --color: #fff;
// }

// a {
//     --color: #3880ff;
// }

// #sign-up {
//     margin-top: 10%;
// }
