<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-text-center welcome-card">
    <ion-card-title>8</ion-card-title>
    <ion-card-subtitle>SMS sent today!</ion-card-subtitle>
  </ion-card>
<ion-tabs #tabs>
  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button [routerLink]="['/tabs']">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="recipient-list">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>SMS list</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create-list">
    <ion-icon name="add-circle-outline"></ion-icon>     
    <ion-label>Create List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quick-send">
      <ion-icon name="paper-plane"></ion-icon>
      <ion-label>Quick Send</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
