ion-item {
    margin-bottom: 5%;
}

ion-toolbar{
    --background: #3880ff;
    --color: #fff;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;;
}

ion-input, ion-button {
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;;
}